@mixin transition($val){
    -moz-transition: $val;  
    -webkit-transition: $val;  
    -o-transition: $val;  
    -ms-transition: $val; 
  }
  
  @mixin border-radius($val){
    border-radius: $val;
    -webkit-border-radius: $val;
    -moz-border-radius: $val;
    -o-border-radius: $val;
  }
  
  @mixin rotate($val){
    -moz-transform:rotate($val);  
    -webkit-transform:rotate($val);  
    -o-transform:rotate($val);  
    -ms-transform:rotate($val); 
  }
  
  @mixin opacity($val){ 
    -moz-opacity: $val;
    -khtml-opacity: $val;
     opacity: $val;
  }
  